@using System.Security.Claims
@using Framework.Application
@model ReflectionIT.Mvc.Paging.PagingList<RadMarket.Query.Contracts.ProductAgg.ProductQueryVM>
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "محصولات";
}

<div class="best-seller-title my-5">
    <h4>محصولات</h4>
</div>


<!-- products -->
<div class="container border p-3">
    <div class="every-boxes">
        <div class="row justify-content-around">
            @foreach (var product in Model)
            {
                <div class="col-sm-12 col-md-4 every-box">
                    <div class="card-product text-center">
                        <img src="~/Pictures/@product.Picture" alt="@product.PictureAlt" title="@product.PictureTitle" style="height: 125px;">
                        <h6 class="card-product-title">@product.Name</h6>
                        <p class="card-product-text">
                            @product.Description
                        </p>

                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value == "ClientUser")
                            {
                                <p class="offer-product-price">قیمت مصرف کننده : <span>@product.ConsumerPrice.ToMoney() تومان</span></p>
                                <p class="offer-product-price">قیمت خرید : <span>@product.PurchasePrice.ToMoney() تومان</span></p>
                                @if (product.DiscountRate != null || product.DiscountRate > 0)
                                {
                                    <p class="offer-product-price">تخفیف <span>@product.DiscountRate%</span></p>
                                }
                            }
                        }
                        <a asp-controller="Product" asp-action="Index" asp-route-storeId ="@product.StoreId" asp-route-slug="@product.Slug" class="btn btn-outline-danger">مشاهده</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- products -->
    <!-- Paginate -->
    @if (Model.PageCount > 1)
    {
        <div class="my-5">
            <nav aria-label="Suppliers navigation example">
                <vc:pager paging-list="@Model" />
            </nav>
        </div>
    }
    <!-- Paginate -->


</div>