@using Framework.Application

@model RadMarket.Query.Contracts.OrderAgg.ItemQueryVM
@{
    ViewData["Title"] = "جزییات سفارش";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var address = ViewBag.Address as AccountManagement.Application.Contract.UserAgg.AddressUserVM;
}

<!-- every -->
<div class="container my-5">
    <div class="every col-sm-4 col-md-6 col-lg-8 m-auto">
        <h4>کد سفارش : <span>@ViewBag.Code</span></h4>
        <div class="every-all">
            <h4 class="text-white">نام مشتری : <span>@ViewBag.Name</span></h4>
        </div>
    </div>
</div>
<!-- every -->
<!-- tabels -->
<div class="table-me container">
    <table class="table table-striped table-hover" style="overflow-y: scroll ;">
        <thead>
            <tr>
                <th scope="col">کد محصول</th>
                <th scope="col">نام محصول</th>
                <th scope="col">تعداد</th>
                <th scope="col">مبلغ تخفیف</th>
                <th scope="col">مبلغ پراختی</th>
                <th scope="col">وضعیت</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">@Model.ProductCode</th>
                <td>@Model.ProductTitle</td>
                <td>@Model.Count</td>
                <td>@Model.DiscountPrice.ToMoney()</td>
                <td>@Model.PayAmount.ToMoney()</td>
                <td>@Model.Status.GetEnumName()</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- tabels -->

<div class="container">
    <div class="border rounded p-3">
        <div style="display:flex; justify-content:space-around">
            <h4>استان : <span>@address.Province</span></h4>
            <h4>شهر : <span>@address.City</span></h4>
            <h4>آدرس : <span>@address.Address</span></h4>
        </div>
    </div>
</div>