@model ReflectionIT.Mvc.Paging.PagingList<StoreManagement.Application.Contract.BrandAgg.BrandVM>
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "لیست برندها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- .create-box-me -->
<div class="container my-5">
    <div class="search-box-me">
        <i class="fa fa-plus text-dark"></i>
        <a asp-controller="Brand" asp-action="Create">افزودن برند</a>
    </div>
</div>
<!-- .create-box-me -->
<!-- tabels -->
<div class="table-me container my-5" style="overflow-y: scroll !important">
    @if (Model.Count == 0 || Model.Any() is false)
    {
        <p class="alert alert-warning"> هنوز هیچ برندی ثبت نشده است </p>
    }
    else
    {
        <table class="table table-striped table-hover" style="overflow-y: scroll;">
            <thead>
                <tr>
                    <th scope="col">شماره</th>
                    <th scope="col">نام</th>
                    <th scope="col">تعداد محصولات</th>
                    <th colspan="2" scope="col" class="text-center">عملیات</th>

                </tr>
            </thead>


            <tbody>

                @foreach (var entity in Model)
                {
                    <tr>
                        <td scope="row"> @(ViewBag.Rows++)</td>
                        <td>@entity.Name</td>
                        <td>@entity.ProductCount</td>

                        <td><a asp-controller="Brand" asp-action="Edit" asp-route-id="@entity.Id" class="btn-sm btn-outline-danger">ویرایش</a></td>
                        <td><a asp-controller="Brand" asp-action="Delete" asp-route-id="@entity.Id" class="btn-sm btn-outline-danger">حذف</a></td>
                    </tr>
                }
            </tbody>

        </table>
    }



</div>
<!-- tabels -->
<!-- Paginate -->
@if (Model.PageCount > 1)
{
    <div class="my-5">
        <nav aria-label="Suppliers navigation example">
            <vc:pager paging-list="@Model" />
        </nav>
    </div>
}
<!-- Paginate -->
