@model IEnumerable<BlogManagement.Application.Contract.ArticleAgg.ArticleVM>

@{
    ViewData["Title"] = "مقالات";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title pull-right">@ViewData["title"]</h4>
        <p class="pull-left">
            <a class="btn btn-success btn-lg" asp-controller="Article" asp-action="Create">ایجاد مقاله جدید</a>
        </p>
    </div>
</div>

<div class="row" id="ProductCategoriesDiv">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">لیست مقالات</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>عکس</th>
                                    <th>عنوان</th>
                                    <th>نویسنده</th>
                                    <th>گروه مقاله</th>
                                    <th>تاریخ انتشار</th>
                                    <th>خلاصه</th>
                                    <th>تاریخ تولید</th>
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var article in Model)
                                {
                                    <tr>
                                        <td>@article.Id</td>
                                        <td>
                                            <img src="~/Pictures/@article.PictureName" style="width: 70px; height: 70px" />
                                        </td>
                                        <td>@article.Title</td>
                                        <td>@article.Author</td>
                                        <td>@article.ArticleCategoryName</td>
                                        <td>@article.PublishDate</td>
                                        <td>@article.ShortDescription</td>
                                        <td>@article.CreationDate</td>
                                        <td class="text-center">
                                            <a class="btn btn-warning btn-block"
                                               asp-page="Edit" asp-route-id="@article.Id">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            <a class="btn btn-danger btn-block"
                                               asp-page="Index" asp-page-handler="Delete" asp-route-id="@article.Id">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/AdminTheme/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminTheme/assets/datatables/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').dataTable();
        });
    </script>
}