@using Framework.Application
@using Framework.Infrastructure
@model IEnumerable<StoreManagement.Application.Contract.AdtPackageAgg.AdtPackageVM>
@{
    ViewData["Title"] = "تبلیغات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="best-seller-title my-5">
    <h4>پکیج های تبلیغاتی</h4>
</div>


<!-- products -->
<div class="container border p-3">
    <div class="packages">
        <div class="row justify-content-around">
            @if (Model.Any())
            {
                @foreach (var adt in Model)
                {
                    <div class="col-sm-12 col-md-3 package rounded">
                        <div class="package-card text-center">
                            <div class="image-package">
                                <img src="~/Pictures/@adt.ImageName" alt="@adt.Title">
                            </div>
                            <div class="detail-package my-3">
                                <div class="title-package">
                                    <p class="h4">@adt.Title</p>
                                    <p class="h6">ماهیانه @adt.Cost.ToMoney() تومان</p>
                                </div>
                                <hr>
                                <div class="detail-package">
                                    <p>
                                        @adt.Description
                                    </p>
                                </div>
                                <div class="btn-package">
                                    <a asp-controller="PackageOrder" asp-action="Index" asp-route-packageId="@adt.Id" asp-route-type="@PackageType.Adt" class="btn btn-outline-danger">پرداخت</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p class="alert alert-warning">در حال حاضر هیچ پکیجی برای خرید وجود ندارد</p>
            }

        </div>
    </div>

</div>