@using Framework.Application
@using AccountManagement.Application.Contract.StoreUserAgg
@model IEnumerable<StoreManagement.Application.Contract.ProductAgg.ProductVM>
@inject IStoreUserApplication StoreUserApplication
@{
    ViewData["Title"] = "محصولات";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title pull-right">@ViewData["title"]</h4>
    </div>
</div>

<div class="row" id="ProductCategoriesDiv">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">لیست محصولات</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12" style="overflow-y: scroll !important">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>نام</th>
                                    <th>کد محصول</th>
                                    <th>شرکت</th>
                                    <th>دسته بندی</th>
                                    <th>وضعیت</th>
                                    <th>دلیل وضعیت</th>
                                    <th>تاریخ ایجاد</th>
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var entity in Model)
                                {
                                    <tr>
                                        <td>@entity.Id</td>
                                        <td>@entity.Name</td>
                                        <td>@entity.Code</td>
                                        <td>@entity.StoreName</td>
                                        <td>@entity.CategoryName</td>
                                        <td>@entity.ProductAcceptanceState.GetEnumName()</td>
                                        <td>@entity.ProductAcceptOrRejectDescription</td>
                                        <td>@entity.CreationDate</td>
                                        <td class="text-center">

                                            @if (entity.ProductAcceptanceState == ProductAcceptanceState.UnderProgress)
                                            {
                                                <a class="btn btn-success"
                                                   href="#showmodal=@Url.Action("Confirm", "Product",new {id = entity.Id , area= "Admin"})">
                                                    <i class="fa fa-thumbs-up"></i>
                                                </a>

                                                <a class="btn btn-danger"
                                                   href="#showmodal=@Url.Action("DissConfirm", "Product",new {id = entity.Id , area= "Admin"})">
                                                    <i class="fa fa-thumbs-down"></i>
                                                </a>
                                            }

                                            else if (entity.ProductAcceptanceState == ProductAcceptanceState.Accepted)
                                            {
                                                <a class="btn btn-danger"
                                                   href="#showmodal=@Url.Action("DissConfirm", "Product",new {id = entity.Id , area= "Admin"})">
                                                    <i class="fa fa-thumbs-down"></i>
                                                </a>
                                            }

                                            else
                                            {
                                                <a class="btn btn-success"
                                                   href="#showmodal=@Url.Action("Confirm", "Product",new {id = entity.Id , area= "Admin"})">
                                                    <i class="fa fa-thumbs-up"></i>
                                                </a>
                                            }

                                            <a class="btn btn-primary"
                                               href="#showmodal=@Url.Action("Detail", "Product",new {id = entity.Id , area= "Admin"})">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/AdminTheme/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminTheme/assets/datatables/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').dataTable();
        });
    </script>
}