@model IEnumerable<AccountManagement.Application.Contract.UserAgg.UserVM>

@{
    ViewData["Title"] = "کاربران دعوت شده";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">@ViewData["Title"]</h4>
</div>

<div class="modal-body myOverflow">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>شماره موبایل</th>
                <th>تاریخ ایجاد</th>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr class="text-center">
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Mobile</td>
                    <td>@user.CreationDate</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
</div>